*{
    margin:0;
}

.container{
    background-image: url('pexels-김-대정-2734469.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left:0%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  
  .container::before {
    content:"";
    background: rgba(54, 100, 36, 0.3);
    top: 0;
    bottom:0;
    right:0;
    left:0;
    width:50%;
    height:auto;
    position: absolute;
    z-index: 1;
  }
  
  h2{
    color: black;
    text-align:center;
    font-size:49px;
  }